button {
  background: var(--brown--font);   
  color: var(--background-color);           
  font-weight: bold;      
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
  display: inline-block;
  width: auto;
  align-self: flex-start;
}